[Unit]
Description=GCP Compute Engine Dynamic Certificate Setup for Code Server
After=network-online.target
Wants=network-online.target

[Service]
# Execute the setup script
ExecStart=/opt/setup-cert.sh

# This service is a one-off task
Type=oneshot
# The service must finish successfully before other services depending on it can start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target